{% set kit = {cellName: "Icon list classic background"} %}
{% include "kit/component/icon/icon_list_classic.njk" %}
{% set kit = {cellName: "Icon list with iconbox"} %}
{% include "kit/component/icon/icon_list_iconbox.njk" %}
{% set kit = {cellName: "Icon list with image-mask"} %}
{% include "kit/component/icon/icon_list_imagemask.njk" %}
{% set kit = {cellName: "Icon in block"} %}
{% include "kit/component/icon/icon_list_block.njk" %}

