{% extends 'kit/layout/kit-cell-layout.njk' %}
{% block cell %}
    <div class="kit__item">
        <div class="kit__title">
            <div class="kit__title-mini">Icon list - hover with opacity</div>
        </div>
        <div class="kit__class">icon_fb icon_fb_hover</div>
        <div class="kit__current">
            <div class="icon-box kit__icon">
                <div class="kit__icon icon-box__item icon icon_fb"></div>
                <div class="kit__icon icon-box__item icon icon_fb_hover"></div>
            </div>
        </div>
        <div class="kit__class">icon_insta icon_insta_hover</div>
        <div class="kit__current">
            <div class="icon-box kit">
                <div class="kit__icon icon-box__item icon icon_insta"></div>
                <div class="kit__icon icon-box__item icon icon_insta_hover"></div>
            </div>
        </div>
    </div>
{% endblock cell %}

