{% extends 'kit/layout/kit-cell-layout.njk' %}
{% block cell %}
    <div class="kit__item">
        <div class="kit__title">
            <div class="kit__title-mini">Icon list</div>
        </div>
        <div class="kit__class">icon_money</div>
        <div class="kit__current">
            <div class="kit__icon-biggest icon icon_money"></div>
        </div>
        <div class="kit__class">icon_secure</div>
        <div class="kit__current">
            <div class="kit__icon-biggest icon icon_secure"></div>
        </div>
        <div class="kit__class">icon_success</div>
        <div class="kit__current">
            <div class="kit__icon-biggest icon icon_success"></div>
        </div>
        <div class="kit__class">icon_privat</div>
        <div class="kit__current">
            <div class="kit__icon-biggest icon icon_privat"></div>
        </div>
        <div class="kit__class">icon_mono</div>
        <div class="kit__current">
            <div class="kit__icon-biggest icon icon_mono"></div>
        </div>
        <div class="kit__class">icon_swift</div>
        <div class="kit__current">
            <div class="kit__icon-biggest icon icon_swift"></div>
        </div>
        <div class="kit__class">icon_paypal</div>
        <div class="kit__current">
            <div class="kit__icon-biggest icon icon_paypal"></div>
        </div>
        <div class="kit__class">icon_usdt</div>
        <div class="kit__current">
            <div class="kit__icon-biggest icon icon_usdt"></div>
        </div>
        <div class="kit__class">icon_btc</div>
        <div class="kit__current">
            <div class="kit__icon-biggest icon icon_btc"></div>
        </div>
        <div class="kit__class">icon_eth</div>
        <div class="kit__current">
            <div class="kit__icon-biggest icon icon_eth"></div>
        </div>
    </div>
{% endblock cell %}
