{% extends 'kit/layout/kit-cell-layout.njk' %}
{% block cell %}
    <div class="kit__item">
        <div class="kit__title">
            <div class="kit__title-mini">Title size s</div>
        </div>
        <div class="kit__class">title_size_s</div>
        <div class="kit__current">
            <span class="title title_size_s title_view_primary">
                <span class="title__text">Я заголовок, состоящий из длинного текста!</span>
            </span>
        </div>
    </div>
    <div class="kit__item">
        <div class="kit__title">
            <div class="kit__title-mini">Title size m</div>
        </div>
        <div class="kit__class">title_size_m</div>
        <div class="kit__current">
            <span class="title title_size_m title_view_primary">
                <span class="title__text">Я заголовок, состоящий из длинного текста!</span>
            </span>
        </div>
    </div>
    <div class="kit__item">
        <div class="kit__title">
            <div class="kit__title-mini">Title size l</div>
        </div>
        <div class="kit__class">title_size_l</div>
        <div class="kit__current">
            <span class="title title_size_l title_view_primary">
                <span class="title__text">Я заголовок, состоящий из длинного текста!</span>
            </span>
        </div>
    </div>
    <div class="kit__item">
        <div class="kit__title">
            <div class="kit__title-mini">Title size xl</div>
        </div>
        <div class="kit__class">title_size_xl</div>
        <div class="kit__current">
            <span class="title title_size_xl title_view_primary">
                <span class="title__text">Я заголовок, состоящий из длинного текста!</span>
            </span>
        </div>
    </div>
{% endblock cell %}

