{% macro textarea_group_macro(params) -%}
    <label class="input-group input-group_type_{{ params.split }}">
        <div class="input-group__inner">
            <div class="input-group__title">
                <span for="" class="input-group__text">{{ params.title }}</span>
            </div>
            <div class="input-group__box">
                <textarea class="textarea {{params.theme}} {{params.size}} {{params.other}}"></textarea>
            </div>
            <div class="input-group__error">{{ params.errorText }}</div>
        </div>
    </label>
{%- endmacro %}
