.result-item {
  &__inner {
    display: flex;
    flex-direction: column;

    height: 100%;

    @extend %border-radius;
  }

  &__titlebox {
    display: flex;
    justify-content: center;

    padding: 40px 30px;

    text-align: center;

    border-bottom: 2px solid $color_light;
    @include bp768-block {
      padding-right: 15px;

      padding-left: 15px;
    }
    @include bp1100-block {
      padding-right: 50px;

      padding-left: 50px;
    }
  }

  &__title {
    text-transform: uppercase;

    color: $color_light;

    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    @include bp1100-block {
      font-size: 24px;
      line-height: 24px;
    }
  }

  &__textbox {
    padding: 36px 30px;
    @include bp768-block {
      padding-right: 15px;

      padding-left: 15px;
    }
    @include bp1100-block {
      padding-right: 50px;

      padding-left: 50px;
    }
  }

  &__text {
    color: $color_light;

    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
  }
}

// .swiper-slide {
//   height: auto;
// }
