.about {
  &__inner {
    justify-content: center;
    @include row-flex;
  }

  &__imgbox {
    display: flex;
    justify-content: center;

    margin-bottom: 25px;
    @include col;
    @include size(12);

    @include size-bp994(5);
    @include size-bp1100(4);
    @include bp994-block {
      align-items: flex-start;

      padding-left: 0;
    }
  }

  &__img {
    @extend %border-radius;
  }

  &__textbox {
    @include col;
    @include size(12);
    @include size-bp994(5);
    @include size-bp1100(6);

    @include bp1100-block {
      padding-left: 50px;
    }
  }
}
