.box {
  &__inner {
    overflow: hidden;

    padding: 40px;

    // background: $gradient;
    background-color: $color_passive;

    @extend %bs;
    @extend %border-radius;
    @include bp1100-block {
      padding: 70px;
    }
  }
}
