.contact {
  position: relative;

  &__box {
    margin-bottom: 40px;
  }

  &__list {
    display: flex;

    flex-wrap: wrap;

    padding-right: 15px;
    padding-left: 15px;
    gap: 15px;

    @include bp994-block {
      display: flex;

      flex-wrap: nowrap;

      width: 100%;
      margin-bottom: -115px;

      transform: translateY(-50%);

      gap: 15px;
    }
  }

  &__item {
    width: 100%;
    @include bp994-block {
      flex-grow: 1;

      height: auto;
    }
  }

  &__cellbox {
    display: flex;
  }

  &__cell {
    display: flex;
    @extend %bs;
  }

  &__cell-text {
    padding: 20px 30px;

    color: $color_light;
    border-top-left-radius: 25px;
    background-color: $color_primary;

    font-size: 16px;
    line-height: 20px;

    @include bp994-block {
      padding: 30px 45px;
    }
  }

  &__social-list {
    display: flex;

    // gap: 15px;

    background-color: $color_light;
  }

  &__cell-iconbox {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 20px;

    @include bp994-block {
      margin: 0 25px;
    }
  }

  &__cell-icon {
    width: 25px;
    height: 25px;

    &:hover {
      background-color: $color_secondary;
    }
  }
}
