.contact {
  position: relative;

  // &__inner{
  //   @include row-flex;
  //   justify-content: center;
  // }

  &__box {
    margin-bottom: 40px;
  }

  &__list {
    display: flex;

    flex-wrap: wrap;

    padding-right: 15px;
    padding-left: 15px;
    gap: 15px;

    @include bp994-block {
      // position: absolute;
      // bottom: 0;
      // left: 50%;

      display: flex;

      flex-wrap: nowrap;

      // width: calc(100% + 30px);

      // margin-right: -15px;
      // margin-left: -15px;
      width: 100%;

      transform: translateY(-50%);

      gap: 15px;
    }
  }

  &__item {
    width: 100%;
    @include bp994-block {
      // width: 33.3333%;

      flex-grow: 1;

      // width: 1fr;

      // width: auto;

      // width: calc(33.3333% - 30px);
      height: auto;

      // margin-right: 15px;
      // margin-left: 15px;
    }
  }
}
