.copyright {
  &__inner {
    display: flex;
    justify-content: center;

    padding-top: 35px;

    // padding-bottom: 35px;

    @include bp994-block {
      padding-top: 60px;

      padding-bottom: 30px;
    }
  }

  &__text {
    color: $color-light;
  }
}
