.hero {
  &__inner {
    display: flex;
    flex-wrap: wrap;

    padding-top: 15px;
    padding-bottom: 15px;
    gap: 15px;
    @include bp768-block {
      align-items: center;

      padding-top: 35px;
      padding-bottom: 35px;
      gap: 0;
    }
  }

  &__imgbox {
    width: 100%;
    @include bp768-block {
      width: calc(60% - 15px);
      margin-left: 15px;
    }
  }

  &__textbox {
    width: 100%;
    @include bp768-block {
      order: -1;

      width: calc(40% - 15px);

      margin-right: 15px;
    }
  }

  &__buttonbox {
    margin-top: 15px;
    @include bp768-block {
      margin-top: 35px;
    }
  }

  &__social {
    margin-right: 0;
    margin-left: auto;
  }
}
