.news-item {
  position: relative;

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 30px;

    &::before {
      position: absolute;
      top: -80px;
      right: -125px;
      bottom: -80px;
      left: -125px;

      content: '';

      opacity: 0;
      border-radius: 10px;
      background-color: $color_passive;

      @include ts(opacity);
    }

    @include bp768-block {
      flex-direction: row;
      gap: 15px;
    }
    @include bp1100-block {
      // width: max-content;
      // width: 100%;
      gap: 40px;
    }
    @include bp1440-block {
      // width: max-content;
      // width: 100%;
      gap: 90px;
    }
  }

  &__imgbox {
    display: flex;
    justify-content: center;

    // max-width: 340px;
    @include bp768-block {
      width: 40%;
    }
  }

  &__img {
    position: relative;

    width: 100%;

    max-width: 340px;

    // max-width: initial;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    @include bp768-block {
      width: 60%;
    }
    @include bp1100-block {
      flex-grow: 1;

      // width: auto;
      // width: 100%;

      // width: initial;
    }
  }

  &__textbox {
    position: relative;

    overflow: hidden;

    max-height: 220px;

    &::before {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;

      height: 100px;

      content: '';

      opacity: 1;

      background: linear-gradient(
        180deg,
        rgb(255 255 255 / 0%) 0%,
        // rgb(255 255 255 / 30%) 50%,
        #fff 100%
      );
      @include ts(opacity);
    }

    @include ts(max-height);

    // &::after {
    //   position: absolute;
    //   right: 0;
    //   bottom: 0;
    //   left: 0;
    //   height: 100px;

    //   content: '';

    //   opacity: 0;

    //   background: linear-gradient(
    //     180deg,
    //     rgb(255 255 255 / 0%) 0%,
    //     // rgb(255 255 255 / 30%) 50%,
    //     $color_passive 100%
    //   );
    //   @include ts(opacity);
    // }
    @include bp1100-block {
      // width: max-content;
      // width: 100%;
      max-height: 300px;
    }
    @include bp1440-block {
      // width: max-content;
      // width: 100%;
      gap: 90px;
    }
  }

  &__morebox {
    display: flex;
  }

  &__more {
    color: $color_primary;

    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
  }
}

.news-item.news-item_odd {
  .news-item__inner {
    @include bp768-block {
      flex-direction: row-reverse;
    }
  }
}

.news-item:hover {
  z-index: 2;

  .news-item__inner::before {
    opacity: 1;
  }

  .news-item__textbox {
    max-height: 340px;
  }

  .news-item__textbox::before {
    opacity: 0;
  }

  // .news-item__textbox::after {
  //   opacity: 1;
  // }
}
