.payment {
  &__inner {
    display: flex;
    flex-direction: column;
    @include bp994-block {
    }
    @include bp1100-block {
    }
  }

  &__titlebox {
    display: flex;
    justify-content: center;

    margin-bottom: 30px;
  }

  &__title {
    max-width: 700px;

    text-align: center;
  }

  &__textbox {
    display: flex;
    justify-content: center;

    margin-bottom: 60px;
    @include bp994-block {
      margin-bottom: 120px;
    }
  }

  &__text {
    max-width: 720px;

    text-align: center;

    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    @include bp994-block {
      font-size: 22px;
      font-weight: 500;
      line-height: 28px;
    }
  }

  &__list {
    display: grid;
    gap: 15px;

    // grid-template-rows: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);

    // grid-template-columns: repeat(2, 1fr);
    @include bp640-block {
      grid-template-columns: repeat(2, 1fr);
    }
    @include bp994-block {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__item {
    &_first {
      @include bp994-block {
        grid-row-start: 1;
        grid-row-end: 3;
      }
    }

    &_fifth {
      @include bp640-block {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 4;
      }
      @include bp994-block {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 4;
      }

      // grid-row: 1 2;
    }

    &_fourth {
      @include bp994-block {
        grid-row-start: 3;
        grid-row-end: 5;
      }
    }

    // &_privat {
    //   @include bp994-block {
    //     grid-row-start: 1;
    //     grid-row-end: 3;
    //   }
    // }

    // &_crypto {
    //   @include bp640-block {
    //     grid-column-start: 1;
    //     grid-column-end: 3;
    //     grid-row-start: 2;
    //     grid-row-end: 4;
    //   }
    //   @include bp994-block {
    //     grid-column-start: 2;
    //     grid-column-end: 4;
    //     grid-row-start: 2;
    //     grid-row-end: 4;
    //   }

    //   // grid-row: 1 2;
    // }

    // &_paypal {
    //   @include bp994-block {
    //     grid-row-start: 3;
    //     grid-row-end: 5;
    //   }
    // }
  }
}
