.result {
  &__inner {
  }

  &__box {
    @include col;
    @include size(10);
  }

  &__wrapper {
    @include bp1440-block {
      justify-content: center;
      @include row-flex;
    }
  }

  &__item {
    @include bp1440-block {
      height: auto;
      margin-bottom: 30px;
      @include col;
    }
    @include size-bp1440(4);
  }

  &__nav {
    position: relative;

    display: flex;
    justify-content: center;

    width: 100%;

    gap: 20px;

    @include bp1440-block {
      display: none;
    }
  }
}

.result .result__item {
  @include bp1440-block {
    height: auto;
    @include col;
  }
  @include size-bp1440(3);
}
