.support {
  &__inner {
  }

  &__box {
    @include col;
    @include size(10);
  }

  &__wrapper {
    @include bp1100-block {
      justify-content: center;
      @include row-flex;
    }
  }

  // &__item {
  //   @include bp1100-block {
  //     height: auto;
  //     margin-bottom: 30px;
  //     @include col;
  //   }
  //   @include size-bp1100(4);
  // }

  &__nav {
    position: relative;

    display: flex;
    justify-content: center;

    width: 100%;

    gap: 20px;

    @include bp1100-block {
      display: none;
    }
  }
}

.support .support__item {
  @include bp1100-block {
    height: auto;
    margin-bottom: 30px;
    @include col;
  }
  @include size-bp1100(6);
}
