.support-item {
  &__inner {
    display: flex;
    flex-direction: column;

    height: 100%;

    border-radius: 15px;

    // background: $gradient;
    background-color: $color_passive;
  }

  &__iconbox {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 40px;
    padding-bottom: 30px;

    @include bp1100-block {
      padding-top: 70px;
    }
  }

  &__icon {
    width: 100px;
    height: 100px;
  }

  &__titlebox {
    display: flex;
    justify-content: center;

    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 30px;

    text-align: center;
    @include bp768-block {
      padding-right: 15px;
      padding-bottom: 60px;

      padding-left: 15px;
    }
    @include bp1100-block {
      padding-right: 50px;

      padding-left: 50px;
    }
  }

  &__title {
    text-transform: uppercase;

    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    @include bp1100-block {
      font-size: 24px;
      line-height: 24px;
    }
  }

  &__textbox {
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    @include bp768-block {
      padding-right: 45px;

      padding-left: 45px;
    }
    @include bp1100-block {
      padding-right: 50px;

      padding-left: 50px;
    }
  }

  &__text {
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
  }

  &__linkbox {
    display: flex;
    justify-content: flex-end;

    margin-top: auto;

    margin-bottom: 0;

    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 30px;

    color: $color_primary;

    font-size: 14px;
    font-weight: 600;
    @include bp768-block {
      padding-right: 45px;

      padding-left: 45px;
    }
    @include bp1100-block {
      padding-right: 50px;
      padding-bottom: 70px;

      padding-left: 50px;
    }
  }
}

// .swiper-slide {
//   height: auto;
// }
