.support-item {
  &__inner {
    display: flex;
    flex-direction: column;

    height: 100%;
  }

  &__iconbox {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-bottom: 30px;
  }

  &__icon {
    width: 100px;
    height: 100px;
  }

  &__titlebox {
    display: flex;
    justify-content: center;

    padding-bottom: 40px;

    text-align: center;

    @include bp768-block {
      padding-bottom: 60px;
    }
  }

  &__title {
    text-transform: uppercase;

    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    @include bp1100-block {
      font-size: 24px;
      line-height: 24px;
    }
  }

  &__textbox {
    padding-bottom: 30px;
  }

  &__text {
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
  }

  &__linkbox {
    display: flex;
    justify-content: flex-end;

    margin-top: auto;

    margin-bottom: 0;

    color: $color_primary;

    font-size: 14px;
    font-weight: 600;
  }
}
