.team-item {
  position: relative;

  &__inner {
    display: flex;
    flex-direction: column;

    height: 100%;

    background-color: $color_passive;
  }

  &__namebox {
    display: flex;
    justify-content: center;

    height: 40px;
    margin-bottom: 10px;

    text-align: center;

    @include bp768-block {
      padding-bottom: 20px;
    }
  }

  &__name {
    text-transform: uppercase;

    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    @extend %text-gradient;
    @include bp1100-block {
      font-size: 24px;
      line-height: 24px;
    }
  }

  &__positionbox {
    display: flex;
    justify-content: center;

    height: 32px;

    margin-bottom: 15px;

    // padding-bottom: 20px;

    text-align: center;

    @include bp768-block {
      padding-bottom: 40px;
    }
  }

  &__position {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    @include bp1100-block {
      font-size: 18px;
      line-height: 18px;
    }
  }

  &__textbox {
    margin-top: 0;
    margin-bottom: 60px;

    text-align: center;

    @include bp768-block {
      padding-bottom: 40px;
    }
  }

  &__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
  }

  &__photobox {
    position: absolute;
    bottom: 0;
    left: 50%;

    display: flex;

    overflow: hidden;

    // width: 165px;
    // height: 165px;

    transform: translate(-50%, 50%);

    border-radius: 50%;

    @include bp1100-block {
      left: calc(50% - 120px);

      width: 240px;
      height: 240px;
    }
  }

  &__photo {
    width: 165px;
    height: 165px;

    object-fit: cover;
    @include bp1100-block {
      width: 240px;
      height: 240px;
    }
  }
}
