.team {
  &__inner {
  }

  &__box {
    @include col;
    @include size(10);
  }

  &__wrapper {
    @include bp1100-block {
      justify-content: center;
      @include row-flex;
    }
  }

  &__item {
    margin-bottom: 90px;
    @include bp1100-block {
      height: auto;

      padding-left: 120px;

      // margin-bottom: 30px;
      @include col;
    }
    @include size-bp1100(6);
  }

  &__nav {
    position: relative;

    display: flex;
    justify-content: center;

    width: 100%;

    gap: 20px;

    @include bp1100-block {
      display: none;
    }
  }

  &__buttonbox {
    display: flex;
    justify-content: center;

    width: 100%;
    margin-top: 50px;

    // margin-bottom: 20px;
  }
}

.team .swiper-slide {
  height: auto;
  @include bp1100-block {
    height: auto;
    margin-bottom: 140px;
    @include col;
  }
  @include size-bp1100(6);
}

// .team .team__item {
//   @include bp1100-block {
//     height: auto;
//     margin-bottom: 30px;
//     @include col;
//   }
//   @include size-bp1100(6);
// }
