<div class="payment">
    <div class="payment__inner">
        <div class="payment__titlebox">
            <span class="payment__title title title_size_xl title_view_secondary">
                <span class="title__text">Маленькі кроки ведуть нас до великої ПЕРЕМОГИ!</span>
            </span>
        </div>
        <div class="payment__textbox">
            <div class="payment__text">Кожна гривня для нас дуже важлива, тому зробити свій внесок ви можете саме зараз</div>
        </div>
        <div class="payment__list"></div>
    </div>
</div>
