{% set kit = {cellName: "Textarea size"} %}
{% include "kit/component/textarea/textarea_size.njk" %}
{% set kit = {cellName: "State textarea"} %}
{% include "kit/component/textarea/textarea_state.njk" %}
{% set kit = {cellName: "Modifire textarea"} %}
{% include "kit/component/textarea/textarea_mode.njk" %}
{% set kit = {cellName: "Placeholder textarea"} %}
{% include "kit/component/textarea/textarea_placeholder.njk" %}
{% set kit = {cellName: "Type textarea"} %}
{% include "kit/component/textarea/textarea_type.njk" %}

