.breadcrumbs {
  &__inner {
    display: flex;
    overflow: auto;
  }

  &__list {
    display: flex;
  }

  &__item {
    position: relative;
    padding: 25px 20px 25px 0;
    display: flex;
    align-items: center;
    font-weight: 500;

    &:after {
      position: absolute;
      // color: $color_passive_dark;
      background-color: $color_passive_dark;
      border-radius: 50%;
      content: '';
      width: 5px;
      height: 5px;
      right: 10px;
      top: 50%;
      transform: translate(50%, -50%);
    }
    &:last-child {
      &:after {
        mask-image: none;
        background-color: transparent;
        display: none;
      }
    }
  }

  &__link {
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
    color: $color_passive_dark;
    &_active {
      /*font-weight: 700;*/
      color: $color_primary;
    }
  }
}
