.deco {
  &__section-secondary {
    background-color: $color_passive;
  }

  &__text-shadow {
    position: relative;

    &::before {
      position: absolute;
      top: 0;

      left: -15px;

      height: 165px;

      content: attr(data-text);
      text-transform: uppercase;

      color: $color_passive;

      // transform: rotate(-90deg) translate(-50%, -100%);

      font-size: 165px;
      font-weight: 500;
      line-height: 165px;
      writing-mode: vertical-lr;
    }
  }

  &__sh {
  }
}
