.deco {
  &__section-secondary {
    background-color: $color_passive;
  }

  &__text-shadow {
    position: relative;

    &::before {
      position: absolute;
      top: 0;

      left: -15px;

      // height: 165px;

      content: attr(data-text);
      text-transform: uppercase;

      color: $color_passive;

      // transform: rotate(-90deg) translate(-50%, -100%);

      font-size: 100px;
      font-weight: 500;
      line-height: 100px;
      writing-mode: vertical-lr;
    }

    &_rev {
      &::before {
        right: 0;

        left: auto;
      }
    }

    @include bp994-block {
      &::before {
        font-size: 125px;
        line-height: 125px;
      }
    }
    @include bp1440-block {
      &::before {
        font-size: 165px;
        line-height: 165px;
      }
    }
  }

  &__sh {
  }
}
