.icon {
  display: inline-block;

  min-width: 0.5em;
  margin: 0;
  padding: 0;

  text-align: center;

  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;

  mask-repeat: no-repeat;
  mask-position: 50%;
  mask-size: contain;
}

.icon:empty::after {
  visibility: hidden;

  content: '\00A0';
}

.icon > img,
.icon > svg {
  margin: -5.15em 0 -5em;

  vertical-align: middle;
}

/* Icon svg example */

/* Не задаются размеры - блок icon не используется отдельно */

/* Используется в качестве вспомогательного, декоративного элемента */

/* Размеры получает через блок родителя, например button */

.icon.icon_twitter {
  background-image: url('/img/regular/icon/icon_twitter.svg');
}

.icon.icon_fb {
  mask-image: url('/img/regular/icon/icon_fb.svg');

  background-color: blue;

  &_pale {
    background-color: #fff;
  }
}

.icon.icon_fb_hover {
  background-image: url('/img/regular/icon/icon_fb_hover.svg');
}

.icon.icon_insta {
  mask-image: url('/img/regular/icon/icon_insta.svg');

  background-color: blue;

  &_pale {
    background-color: #fff;
  }
}

.icon.icon_insta_hover {
  background-image: url('/img/regular/icon/icon_insta_hover.svg');
}

.icon.icon_phone {
  mask-image: url('/img/regular/icon/icon_phone.svg');

  background-color: #fff;
}

.icon.icon_mark {
  mask-image: url('/img/regular/icon/icon_mark.svg');

  background-color: #fff;
}

.icon.icon_arrow {
  mask-image: url('/img/regular/icon/icon_arrow.svg');

  background-color: $color_primary;

  &_r_180 {
    transform: scaleX(-1);
  }
}

.icon.icon_burger {
  mask-image: url('/img/regular/icon/icon_burger.svg');

  background-color: #fff;
}

.icon.icon_cross {
  mask-image: url('/img/regular/icon/icon_cross.svg');

  background-color: #fff;
}

.icon.icon_money {
  background-image: url('/img/regular/icon/icon_money.svg');
}

.icon.icon_secure {
  background-image: url('/img/regular/icon/icon_secure.svg');
}

.icon.icon_success {
  background-image: url('/img/regular/icon/icon_success.svg');
}

.icon.icon_privat {
  background-image: url('/img/regular/icon/icon_privat.svg');
}

.icon.icon_mono {
  background-image: url('/img/regular/icon/icon_mono.svg');
}

.icon.icon_swift {
  background-image: url('/img/regular/icon/icon_swift.svg');
}

.icon.icon_paypal {
  background-image: url('/img/regular/icon/icon_paypal.svg');
}

.icon.icon_usdt {
  background-image: url('/img/regular/icon/icon_usdt.svg');
}

.icon.icon_btc {
  background-image: url('/img/regular/icon/icon_btc.svg');
}

.icon.icon_eth {
  background-image: url('/img/regular/icon/icon_eth.svg');
}
