.logo {
  &__inner {
    display: flex;
    justify-content: center;
  }

  &__img {
    // max-width: 190px;
    //height: 190px;
  }
}

.logo.logo_view_secondary {
  padding: 10px;

  border-radius: 50%;
  background-color: $color_light;

  .logo__img {
    max-height: 240px;
  }
  @extend %bs;
}
