.pagination {
  &__inner {
    display: flex;
    justify-content: center;
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 32px;
    height: 32px;

    text-decoration: none;

    color: $color_dark;

    font-size: 18px;
    font-weight: 400;

    &_active {
      color: $color_light;
      background-color: $color_primary;
    }

    &:hover {
      color: #fff;
      background-color: $color_primary;

      & .pagination__icon {
        background-color: $color_light;
      }
    }
    @include ts(color, background-color);
  }

  &__icon {
    width: 11px;
    height: 16px;
    @include ts(background-color);
  }
}
