.text {
  position: relative;

  &__title {
    margin-bottom: 20px;
    @include bp994-block {
      margin-bottom: 30px;
    }
  }

  // &__title-sub {
  //   margin-bottom: 25px;
  //   @include bp994-block {
  //     &:last-child {
  //       margin-bottom: 35px;
  //     }
  //   }
  // }

  &__item {
    display: inline-block;

    margin-bottom: 15px;

    font-size: 14px;
    line-height: 18px;

    &_last {
      margin-bottom: 30px;
    }

    @include bp994-block {
      margin-bottom: 25px;

      font-size: 16px;
      line-height: 21px;

      &_last {
        margin-bottom: 40px;
      }
    }
  }

  &__link {
    color: $color_primary;

    font-size: 14px;

    font-weight: 600;
  }

  &__item-title {
    text-transform: uppercase;

    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
  }

  &__list {
    margin-bottom: 20px;

    @include bp994-block {
      margin-bottom: 25px;
    }
  }

  &__b_l {
    font-weight: 500;
  }

  &__braker {
    display: inline;
    @include bp994-block {
      display: block;
    }
  }
}
