.textarea {
  touch-action: manipulation;
  display: inline-block;
  background: transparent;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-height: 10em;
  outline: none;
}

/*Вью полей*/
.textarea.textarea_view_primary {
  border: 2px solid $color_primary;
  @include ts(border-color);
  outline: none;
  &::placeholder {
    color: $color_primary_light;
  }
}
/*Вью полей КОНЕЦ*/

/*Стэйт полей*/
.textarea.textarea_state_focus {
  border-color: $color_dark;
  /*box-shadow: 0 0 0 1px gray;*/
}

.textarea.textarea_state_hover {
  border-color: $color_secondary;
  /*box-shadow: 0 0 0 1px gray;*/
}

.textarea.textarea_state_success {
  border-color: $color_success;
}

.textarea.textarea_state_error {
  border-color: $color_attention;
}

.textarea.textarea_state_disabled {
  border-color: $color_faded;
  background-color: $color_faded_light;
  cursor: not-allowed;
}

/* Стэйт полей КОНЕЦ*/

/* Модификации */
.textarea.textarea_width_available {
  width: 100%;
  resize: vertical;
}

/* Стэйт полей КОНЕЦ*/

/*S - Начало*/
.textarea.textarea_size_s {
  font-size: 12px;
  line-height: 16px;
  padding: 3px 5px;
  border-radius: 3px;
}
/*S - КОНЕЦ*/

/*M - Начало*/
.textarea.textarea_size_m {
  font-size: 13px;
  line-height: 18px;
  padding: 3px 5px;
  border-radius: 4px;
}
/*M - КОНЕЦ*/

/*L - Начало*/
.textarea.textarea_size_l {
  font-size: 15px;
  line-height: 20px;
  padding: 5px 7px;
  border-radius: 5px;
}
/*L - КОНЕЦ*/

/*XL- Начало*/
.textarea.textarea_size_xl {
  font-size: 18px;
  line-height: 22px;
  padding: 6px 9px;
  border-radius: 6px;
}
/*XL - КОНЕЦ*/
