.title {
  display: flex;

  &__text {
  }

  &__link {
    color: $color_primary;

    &:hover {
      color: $color_secondary;
    }
    @include ts(color);
  }
}

/* View */

/* View primary */
.title.title_view_primary {
  .title__text {
    // text-transform: uppercase;

    color: black;

    font-weight: 500;
  }
}

/* View primary END */

/* View secondary */
.title.title_view_secondary {
  .title__text {
    font-weight: 500;
    @extend %text-gradient;
  }
}

/* View section END */

/* View END */

/* Size */

/* Size S */
.title.title_size_s {
  .title__text {
    font-size: 14px;
    line-height: 14px;
  }
}

/* Size S END */

/* Size M */
.title.title_size_m {
  .title__text {
    font-size: 18px;
    line-height: 18px;
  }
}

/* Size M END */

/* Size L */
.title.title_size_l {
  .title__text {
    font-size: 24px;
    line-height: 24px;
  }
}

/* Size S END */

/* Size XL */
.title.title_size_xl {
  .title__text {
    font-size: 32px;
    line-height: 32px;
  }

  @include bp994-block {
    .title__text {
      font-size: 38px;
      line-height: 38px;
    }
  }
}

/* Size XL END */

/* Size XXL */
.title.title_size_xxl {
  .title__text {
    font-size: 32px;
    line-height: 32px;
  }
  @include bp994-block {
    .title__text {
      font-size: 48px;
      line-height: 48px;
    }
  }

  @include bp1440-block {
    .title__text {
      font-size: 64px;
      line-height: 64px;
    }
  }
}

/* Size XXL END */

/* Size END */
