{% set kit = {cellName: "Size input"} %}
{% include "kit/component/input/input_size.njk" %}
{% set kit = {cellName: "State input"} %}
{% include "kit/component/input/input_state.njk" %}
{% set kit = {cellName: "Modifire input"} %}
{% include "kit/component/input/input_mode.njk" %}
{% set kit = {cellName: "Placeholder input"} %}
{% include "kit/component/input/input_placeholder.njk" %}
{% set kit = {cellName: "Type input"} %}
{% include "kit/component/input/input_type.njk" %}
