<div class="news__slide swiper-slide">
    <div class="news__item-imgbox">
        <img src="/img/regular/content/news/{{ item.photo }}"
             alt=""
             class="news__item-img img">
    </div>
    <div class="news__item-titlebox">
        <a href="#" class="link news__item-title">{{ item.title }}</a>
    </div>
</div>
