<div class="news">
    <div class="news__inner">
        <div class="news__textbox text">
            <h2 class="text__title title title_size_xl title_view_secondary">
                <span class="title__text">Нашою метою є вирішення нагальних проблем ЗСУ</span>
            </h2>
            <p class="text__item">
                За допомогою онлайн -генератора тексту ви можете обробляти свій особистий Lorem Ipsum , збагачуючи його html -елементами, які визначають його структуру, з можливістю вставляти зовнішні посилання, але не тільки.
            </p>
            <div class="text__item">
                <a href="#" class="text__link link">Читати повністю</a>
            </div>
        </div>
        <div class="news__sliderbox slider">
            <div class="swiper slider__row">
                <div class="swiper-wrapper">
                    {% for item in params.news_list %}
                        <div class="news__item swiper-slide">
                            <div class="news__item-imgbox">
                                <img src="/img/regular/content/news/news-item_{{ loop.index }}.jpg"
                                     alt=""
                                     class="news__item-img img">
                            </div>
                            <div class="news__item-title">{{ item.title }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="slider__nav slider__nav_l">
                <div class="news__nav-prev">
                    <div class="arrow__item kit-pagination__arrow_prev">
                        <div class="arrow__icon icon icon_arrow icon_arrow_r_180"></div>
                    </div>
                </div>
                <div class="news__nav-next">
                    <div class="arrow__item kit-pagination__arrow_next">
                        <div class="arrow__icon icon icon_arrow"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
