{% set inject = { layoutClass: "page page_theme layout deco"} %}
{% extends "layout/layout.njk" %}
{%- from "layout/layout-section-macros.njk" import layout_base_section -%}
{% block main %}
    {#  About seciton #}
    {{ layout_base_section({
    component: 'about',
    titleText: 'Про нас',
    layoutClass: 'layout__wrap',
    sectionClass: '',
    sectionInnerClass:'deco__section-secondary'
    })
    }}
    {# About seciton END #}
    {# News seciton #}
    {{ layout_base_section({
    component: 'news',
    titleText: 'Новости',
    layoutClass: 'layout__wrap deco__text-shadow',
    sectionClass: '',
    sectionInnerClass:'',
    sectionDecoText: 'Новости',
    news_list: news.news_list
    })
    }}
    {# News seciton END #}
    {# Result seciton #}
    {{ layout_base_section({
    component: 'result',
    titleText: 'Наши результаты',
    layoutClass: 'layout__wrap',
    sectionClass: '',
    sectionInnerClass:'deco__section-secondary',
    result_list: result.result_list
    })
    }}
    {# Result seciton END #}
    {# Result seciton #}
    {{ layout_base_section({
    component: 'support',
    titleText: 'напрямки підтримки',
    layoutClass: 'layout__wrap deco__text-shadow deco__text-shadow_rev',
    sectionClass: '',
    sectionInnerClass:'',
    sectionDecoText: 'Підтримка',
    support_list: support.support_list
    })
    }}
    {# Result seciton END #}
    {# Donat seciton #}
    {{ layout_base_section({
    component: 'donat',
    layoutClass: 'layout__wrap',
    sectionClass: '',
    sectionInnerClass:'deco__section-secondary'
    })
    }}
    {# Donat seciton END #}
    {# Team seciton #}
    {{ layout_base_section({
    component: 'team',
    titleText: 'Команда',
    layoutClass: 'layout__wrap deco__text-shadow',
    sectionClass: '',
    sectionInnerClass:'',
    sectionDecoText: 'Команда',
    team_list: team.team_list
    })
    }}
    {# Team seciton END #}
    {# Contact seciton #}
    {{ layout_base_section({
    component: 'contact',
    titleText: 'Контакти',
    layoutClass: 'layout__wrap',
    sectionClass: '',
    sectionInnerClass:'deco__section-secondary',
    contact_list: contact.contact_list
    })
    }}
    {# Contact seciton END #}
    {# Form contact seciton #}
    {{ layout_base_section({
    component: 'form-contact',
    layoutClass: 'layout__wrap',
    sectionClass: '',
    sectionInnerClass:'section__inner_only_bottom deco__section-secondary'
    })
    }}
    {# Form contact seciton END #}
{% endblock main %}
