{% set inject = { layoutClass: "page page_theme layout deco"} %}
{% extends "layout/layout.njk" %}
{%- from "layout/layout-section-macros.njk" import layout_base_section -%}
{% block main %}
    {#  About seciton #}
    {{ layout_base_section({
    component: 'about',
    titleText: 'Про нас',
    layoutClass: 'layout__wrap',
    sectionClass: 'deco__section-secondary',
    sectionInnerClass:''
    })
    }}
    {# About seciton END #}
    {# News seciton #}
    {{ layout_base_section({
    component: 'news',
    titleText: 'Новости',
    layoutClass: 'layout__wrap deco__text-shadow',
    sectionClass: '',
    sectionInnerClass:'',
    sectionDecoText: 'Новости',
    news_list: news.news_list
    })
    }}
    {# News seciton END #}
{% endblock main %}
