{% set inject = { layoutClass: "page page_theme layout deco kit"} %}
{% extends "layout/layout.njk" %}
{% block main %}
    {% set kit = {sectionName: "Buttons"} %}
    {% include "kit/section/kit-button-section.njk" %}
    {% set kit = {sectionName: "Input"} %}
    {% include "kit/section/kit-input-section.njk" %}
    {% set kit = {sectionName: "Textarea"} %}
    {% include "kit/section/kit-textarea-section.njk" %}
    {% set kit = {sectionName: "Checkbox"} %}
    {% include "kit/section/kit-checkbox-section.njk" %}
    {% set kit = {sectionName: "Icon"} %}
    {% include "kit/section/kit-icon-section.njk" %}
    {% set kit = {sectionName: "Pagination"} %}
    {% include "kit/section/kit-pagination-section.njk" %}
    {% set kit = {sectionName: "Breadcrumb"} %}
    {% include "kit/section/kit-breadcrumb-section.njk" %}
    {% set kit = {sectionName: "Title"} %}
    {% include "kit/section/kit-title-section.njk" %}
{% endblock main %}
