{% set inject = { layoutClass: "page page_theme layout deco"} %}
{% extends "layout/layout.njk" %}
{%- from "layout/layout-section-macros.njk" import layout_base_section -%}
{%- from "layout/layout-footer-macros.njk" import layout_base_footer -%}
{%- from "layout/layout-header-macros.njk" import layout_base_header -%}
{% block main %}
    {# Header contact seciton #}
    {{ layout_base_header({
    component: 'header',
    layoutClass: 'layout__flat',
    sectionClass: 'layout__section_free',
    sectionInnerClass:'section__inner_reset',
    menu_list: menu.menu_list
    })
    }}
    {# Header contact seciton END #}
    {# Breadcrumbs seciton #}
    {{ layout_base_section({
    component: 'breadcrumbs',
    layoutClass: 'layout__wrap',
    sectionClass: '',
    sectionInnerClass:'section__inner_reset'
    })
    }}
    {# News seciton #}
    {{ layout_base_section({
    component: 'news-inner',
    folder: 'news',
    titleText: news.news_list[0].title,
    layoutClass: 'layout__wrap deco__text-shadow',
    sectionClass: 'layout__section_free',
    sectionInnerClass:'section__inner_only_top section__inner_first',
    sectionDecoText: 'Новости',
    news_item: news.news_list[0]
    })
    }}
    {# News seciton END #}
    {# News content seciton #}
    {{ layout_base_section({
    component: 'news-inner-content',
    folder: 'news',
    layoutClass: 'layout__wrap',
    sectionClass: '',
    sectionInnerClass:'',
    news_item: news.news_list[0]
    })
    }}
    {# News content seciton END #}
    {# Donat seciton #}
    {{ layout_base_section({
    component: 'donat',
    layoutClass: 'layout__wrap',
    sectionClass: '',
    sectionInnerClass:'deco__bg_alt section__inner_last'
    })
    }}
    {# Donat seciton END #}
    {# Footer contact seciton #}
    {{ layout_base_footer({
    component: 'footer',
    layoutClass: 'layout__wrap',
    sectionClass: 'layout__section_free',
    sectionInnerClass:'deco__bg_gradient_v section__inner_footer',
    menu_list: menu.menu_list,
    contact_list: contact.contact_list
    })
    }}
    {# Footer contact seciton END #}
{% endblock main %}
