{% set kit = {cellName: "Size checbox"} %}
{% include "kit/component/checkbox/checkbox_size.njk" %}
{% set kit = {cellName: "Size state"} %}
{% include "kit/component/checkbox/checkbox_state.njk" %}

