.layout {
  &__inner {
    position: relative;

    display: flex;

    flex-direction: column;

    min-height: 100%;
  }

  &__wrap {
    @include wrapper;
  }

  &__row {
    justify-content: center;
    @include row-flex;
  }

  &__row-box {
    width: 100%;

    &_full {
      margin-right: 0;
      margin-left: 0;
    }

    @include col;
    @include size-bp768(12);
    @include size-bp994(10);
  }

  &__flat {
    width: 100%;
  }

  &__section {
    position: relative;

    overflow: hidden;

    &_free {
      overflow: visible;
    }
  }
}
