.layout {
  &__inner {
    position: relative;

    display: flex;

    flex-direction: column;

    min-height: 100%;
  }

  &__wrap {
    @include wrapper;
  }

  &__row {
    justify-content: center;
    @include row-flex;
  }

  &__row-box {
    @include col;
    @include size(12);
    @include size-bp994(10);
  }
}
