.section {
  &__inner {
    padding-top: 50px;
    padding-bottom: 50px;

    @include bp994-block {
      padding-top: 120px;
      padding-bottom: 120px;
    }
  }

  &__title {
    position: relative;

    display: flex;
    justify-content: center;

    margin-bottom: 35px;

    text-transform: uppercase;
    @include bp994-block {
      margin-bottom: 80px;
    }
  }
}
