.section {
  &__inner {
    padding-top: 50px;
    padding-bottom: 50px;

    &_relative {
      position: relative;
    }

    @include bp994-block {
      padding-top: 120px;
      padding-bottom: 120px;
    }
  }

  &__title {
    position: relative;

    display: flex;
    justify-content: center;

    margin-bottom: 35px;

    text-transform: uppercase;
    @include bp994-block {
      margin-bottom: 80px;
    }
  }
}

.section .section__inner {
  &.section__inner_only_top {
    padding-bottom: 0;

    @include bp994-block {
      padding-bottom: 0;
    }
  }

  &.section__inner_only_bottom {
    padding-top: 0;

    @include bp994-block {
      padding-top: 0;
    }
  }

  &.section__inner_last {
    padding-bottom: 100px;
    @include bp994-block {
      padding-bottom: 240px;
    }
  }

  &.section__inner_header {
    padding-top: 0;
    padding-bottom: 0;
    @include bp994-block {
      padding-top: 0;
      padding-bottom: 0;

    }
  }

  &.section__inner_footer {
    padding-top: 125px;
    padding-bottom: 0;
    @include bp994-block {
      padding-top: 185px;
      padding-bottom: 0;
    }
  }
}
