<div class="footer__cell footer-item">
    <div class="footer-item__inner">
        <div class="footer-item__titlebox">
            <div class="footer-item__title">Про фонд</div>
        </div>
        <div class="footer-item__body menu-footer">
            <nav class="menu-footer__inner">
                {% for item in params.menu_list %}
                    <a href="#" class="menu-footer__link link">
                        <span class="menu-footer__linktext">{{ item.name }}</span>
                    </a>
                {% endfor %}
            </nav>
        </div>
    </div>
</div>
