<div class="footer__cell footer__cell_big footer-item">
    <div class="footer-item__inner">
        {# <div class="footer-item__titlebox"> #}
        {#     <div class="footer-item__title">Про фонд</div> #}
        {# </div> #}
        <div class="footer-item__body footer-item__helpbox">
            <div class="footer-item__help-text text">
                <p class="text__item">
                    За допомогою онлайн -генератора тексту ви можете обробляти свій особистий Lorem Ipsum , збагачуючи його html -елементами, які визначають його структуру, з можливістю вставляти зовнішні посилання, але не тільки.
                </p>
            </div>
            <div class="footer-item__help-button">
                <a href="#" class="button button_view_secondary button_size_l">
                    <span class="button__text">Задонатити</span>
                </a>
            </div>
        </div>
    </div>
</div>
