<footer class="footer">
    <div class="footer__inner">
        <div class="footer__logobox logo logo_view_secondary">
            <img src="/img/regular/logo/logo_view_secondary.svg"
                 alt=""
                 class="footer__logo img logo__img">
        </div>
        <div class="footer__row footer__row_alt">
            {% include 'component/footer/footer-menu.njk' %}
            {% include 'component/footer/footer-contact.njk' %}
            {% include 'component/footer/footer-social.njk' %}
            {% include 'component/footer/footer-text.njk' %}
        </div>
        <div class="footer__row">{% include 'component/footer/footer-copyright.njk' %}</div>
    </div>
</footer>
