/*  Библиотеки */
@import './lib/smart-grid';
@import './lib/smart-grid-extend';

/* INIT */
@import './preset/animation';
@import './preset/font';
@import './preset/mixin';
@import './preset/preset';
@import './preset/reset';

/* Фундоментальные Блоки */
@import './fundamental/footer';
@import './fundamental/header';
@import './fundamental/kit';
@import './fundamental/layout';
@import './fundamental/page';
@import './fundamental/section';

/* Base */
@import './base/button';
@import './base/checkbox';
@import './base/deco';
@import './base/icon-box';
@import './base/icon';
@import './base/img';
@import './base/input-group';
@import './base/input';
@import './base/radio-group';
@import './base/radio';
@import './base/link';
@import './base/logo';
@import './base/relative';
@import './base/text';
@import './base/textarea';
@import './base/title';
@import './base/burger';
@import './base/close';
@import './base/arrow';
@import './base/pagination';
@import './base/breadcrumb';
@import './base/adaptive';

/* Навигация */

/* Блоки Верстки */

@import './custom/slider';
@import './custom/about';
@import './custom/news';
@import './custom/result';
@import './custom/result-item';
@import './custom/box';
@import './custom/support';
@import './custom/support-item';
@import './custom/donat';
@import './custom/donat-item';
@import './custom/team';
@import './custom/team-item';

@import './custom/contact';
@import './custom/contact-item';
@import './custom/map';
@import './custom/form-contact';
@import './custom/footer-item';

@import './custom/menu-footer';
@import './custom/copyright';
@import './custom/menu';
@import './custom/lang';

* {
  box-sizing: border-box;
}

html {
  height: auto;
  min-height: 100%;
}

body {
  min-height: 100%;
  -webbase-overflow-scrolling: touch;
}
