<div class="contact__item contact-item">
    <div class="contact-item__inner">
        <div class="contact-item__title">{{ item.title }}</div>
        <div class="contact-item__body">
            {% for subitem in item.body %}<div class="contact-item__body-row">{{ subitem }}</div>{% endfor %}
        </div>
    </div>
</div>
