.arrow {
  &__inner {
    display: flex;
    gap: 15px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 43px;
    height: 43px;

    border: 2px solid $color_primary;
    border-radius: 50%;

    &:hover {
      background-color: $color_primary;

      .arrow__icon {
        background-color: $color_secondary;
      }
    }
    @include ts(background-color);
  }

  &__icon {
    width: 10px;
    height: 15px;
  }
}
