{% set kit = {cellName: "Radio size"} %}
{% include "kit/component/radio/radio_size.njk" %}
{% set kit = {cellName: "Radio view"} %}
{% include "kit/component/radio/radio_view.njk" %}
{% set kit = {cellName: "Radio type"} %}
{% include "kit/component/radio/radio_type.njk" %}

