{% macro input_group_macro(params) -%}
    <label class="input-group input-group_type_{{ params.split }}">
        <div class="input-group__inner">
            <div class="input-group__title">
                <span for="" class="input-group__text">{{ params.title }}</span>
            </div>
            <div class="input-group__box">
                <span class="input input_view_{{ params.inputTheme }} input_size_{{ params.inputSize }} {{ params.inputOther }}">
                    <span class="input__box">
                        <input class="input__control">
                    </span>
                </span>
            </div>
        </div>
    </label>
{%- endmacro %}
