/* COLORS */

/* Main color */
$color_light: #fff;
$color_dark: #000;
$color_primary: #025fa7;
$color_primary_light: rgba($color_primary, 0.3);

// $color_primary_dark: darken($color_primary, 40%);
$color_secondary: #ffd500;
$color_passive: #f3f3f3;
$color_passive_light: rgba($color_passive, 0.3);
$color_passive_dark: darken($color_passive, 17%);
$color_faded: rgba($color_primary, 0.08);
$color_faded_light: rgba($color_primary, 0.04);

// $color_active: yellow;
$color_attention: #c82e37;
$color_success: #36b98f;

/* Gradient */
$gradient: linear-gradient(
  90deg,
  #025fa7 0,
  #1682d4 25%,
  #00b0d0 50%,
  #09d3f6 75%,
  #42e3ff 100%
);
$gradient_button: linear-gradient(
  90deg,
  #025fa7 0,
  #1682d4 25%,
  #00b0d0 50%,
  #09d3f6 75%,
  #42e3ff 100%,
  #42e3ff 150%
);

/* TIME */
$th: 0.25s;

/* Settings */

/* Main */
$background_main: $color_light;
$font_color: $color_dark;

/* Placeholder */
%text-gradient {
  background: $gradient;
  background-clip: text;

  -webkit-text-fill-color: transparent;
}

%bs {
  // box-shadow: 0 4px 15px rgba($color_passive, 8%);
  box-shadow: 0 4px 15px rgb(2 95 167 / 8%);
}
