<div class="donat">
    <div class="donat__inner">
        <div class="donat__item donat-item">
            <div class="donat-item__inner">
                <div class="donat-item__headerbox deco__bg-gradient">
                    <div class="donat-item__header">Підтримай Україну</div>
                    <div class="donat-item__header donat-item__header_center">Підтримай Україну</div>
                    <div class="donat-item__header donat-item__header_end">Підтримай Україну</div>
                </div>
                <div class="donat-item__contentbox">
                    <div class="donat-item__title">Маленькі кроки ведуть нас до великої ПЕРЕМОГИ!</div>
                    <div class="donat-item__text">Кожна гривня для нас дуже важлива, тому зробити свій внесок ви можете саме зараз</div>
                    <div class="donat-item__buttonbox">
                        <div class="a button button_size_l button_view_primary">
                            <div class="button__text">Задонатити</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
