{% extends 'kit/layout/kit-cell-layout.njk' %}
{% block cell %}
    <div class="kit__item">
        <div class="kit__title">
            <div class="kit__title-mini">Input group split (width available)</div>
        </div>
        <div class="kit__class">input-group_type_split</div>
        <div class="kit__current">
            <label class="input-group input-group_type_split">
                <div class="input-group__inner">
                    <div class="input-group__title">
                        <span for="" class="input-group__text">Название поля</span>
                    </div>
                    <div class="input-group__box">
                        <textarea class="textarea textarea_view_primary textarea_size_l"></textarea>
                    </div>
                </div>
            </label>
        </div>
    </div>
    <div class="kit__item">
        <div class="kit__title">
            <div class="kit__title-mini">input group no split(width available)</div>
        </div>
        <div class="kit__class">input-group_type_nosplit</div>
        <div class="kit__current">
            <label class="input-group input-group_type_nosplit">
                <div class="input-group__inner">
                    <div class="input-group__title">
                        <span for="" class="input-group__text">Название поля</span>
                    </div>
                    <div class="input-group__box">
                        <textarea class="textarea textarea_view_primary textarea_size_l"></textarea>
                    </div>
                </div>
            </label>
        </div>
    </div>
    <div class="kit__item">
        <div class="kit__title">
            <div class="kit__title-mini">Input group split</div>
        </div>
        <div class="kit__class">input-group_type_split</div>
        <div class="kit__current">
            <label class="input-group input-group_type_split">
                <div class="input-group__inner">
                    <div class="input-group__title">
                        <span for="" class="input-group__text">Название поля</span>
                    </div>
                    <div class="input-group__box">
                        <textarea class="textarea textarea_view_primary textarea_size_l"></textarea>
                    </div>
                </div>
            </label>
        </div>
    </div>
    <div class="kit__item">
        <div class="kit__title">
            <div class="kit__title-mini">input group no split</div>
        </div>
        <div class="kit__class">input-group_type_nosplit</div>
        <div class="kit__current">
            <label class="input-group input-group_type_nosplit">
                <div class="input-group__inner">
                    <div class="input-group__title">
                        <span for="" class="input-group__text">Название поля</span>
                    </div>
                    <div class="input-group__box">
                        <textarea class="textarea textarea_view_primary textarea_size_l"></textarea>
                    </div>
                </div>
            </label>
        </div>
    </div>
{% endblock cell %}
