<div class="about">

    <div class="about__inner">
        <div class="about__imgbox">
            <img src="/img/regular/content/about/about-main.jpg"
                 alt="about img"
                 class="about__img img">
        </div>
        <div class="about__textbox text">
            <h2 class="text__title title title_size_xl title_view_secondary">
                <span class="title__text">Ми благодійний фонд</span>
            </h2>
            <p class="text__item">
                За допомогою онлайн -генератора тексту ви можете обробляти свій особистий Lorem Ipsum , збагачуючи його html -елементами, які визначають його структуру, з можливістю вставляти зовнішні посилання, але не тільки. Фактично, вставляючи будь -який фантастичний текст або відомий текст, це вірш, промова. Фактично, вставляючи будь -який фантастичний текст.
            </p>
            <h2 class="text__title title title_size_l title_view_primary">
                <span class="title__text">Що означає Lorem ipsum dolor?</span>
            </h2>
            <p class="text__item">
                Коли йдеться про Lorem ipsum, використовуються різні вирази, а саме текст заповнення , вигаданий текст , сліпий текст або текст -заповнювач : коротше, його значення також може бути нульовим, але його корисність настільки ясна, що він проходить через століття і протистоїть іронічним та сучасним версіям, які з’явилися з появою Інтернету.  Фактично, вставляючи будь -який фантастичний текст або відомий текст, це вірш, промова,  Коли йдеться про Lorem ipsum, використовуються різні вирази, а саме текст заповнення , вигаданий текст , сліпий текст або текст -заповнювач : коротше, його значення також може бути нульовим, але його корисність настільки ясна, що він проходить через століття і протистоїть іронічним та сучасним.
            </p>
        </div>
    </div>
</div>
